{{#> layout.html}}
  <table role="presentation" width="100%">
    <tbody>
      <tr>
        <td class="introduction">A proposal's voting period has ended on {{proposal.space.name}}</td>
      </tr>
      <tr>
        <td>
          <table role="presentation" width="100%">
            <tr class="content-body-preheading">
              <td class="proposal-space-logo"><img alt="{{proposal.space.name}}" src="https://cdn.stamp.fyi/space/{{proposal.space.id}}?s=32" class="proposal-space-avatar" /></td>
              <td><a href="https://snapshot.org/#/{{proposal.space.id}}">{{proposal.space.name}}</a></td>
              <td style="text-align: right"><span class="state-badge state-closed">Closed</span></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="content-body-heading" >
          <h1 class="long-title"><a class="proposal-title" href="{{proposal.link}}">{{proposal.title}}</a></h1>
          <small><b>Voting ended on</b> {{formattedEndDate}}</small>
        </td>
      </tr>
      <tr>
        <td class="proposal-fullbody">
          {{{proposalHtmlBody}}}
        </td>
      </tr>
      <tr>
        <td>
          <h2 style="margin-bottom: .25em;">Results</h2>
        </td>
      </tr>
      <tr>
        <td>
          <table class="proposal-choices">
            {{#each results}}
              <tr>
                <td class="proposal-choices-item {{#if winning}}winning{{/if}}">
                  <table style="width: 100%">
                    <tr>
                      <td class="number">{{progress}}%</td>
                      <td>
                        {{name}}
                        <div class="progress">
                          <div class="progress-bar" style="width: {{progress}}%"></div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            {{/each}}
          </table>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout.html}}
