{{#> layout}}
  <table role="presentation">
    <tbody>
      <tr>
        <td class="title-container">
          <h1>Your weekly summary</h1>
          <div>{{formattedStartDate}} - {{formattedEndDate}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <table class="stats-block">
            <tbody>
              <tr>
                <td class="bordered">
                  <strong>{{stats.pending}}</strong>
                Pending proposals</td>
                <td class="bordered">
                <strong>{{stats.active}}</strong>
              Active proposals</td>
                <td>
                <strong>{{stats.closed}}</strong>
              Closed proposals</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {{#if proposals.pending.length}}
        <tr>
          <td>
            <h2>
              Pending proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.pending}}
              {{> proposals.html}}
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if proposals.active.length}}
        <tr>
          <td>
            <h2>
              Active proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.active}}
              {{> proposals.html}}
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if proposals.closed.length}}
        <tr>
          <td>
            <h2>
              Closed proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.closed}}
              {{> proposals.html}}
            {{/each}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{/layout}}
