<div style="{{ styles.body }}">
  <div style="{{ styles.content }}">

    {{#if proposals.pending.length}}
      <div style="{{ styles.block }}">
        <div style="{{ styles.h2 }}">
          Pending proposals
        </div>
        {{#each proposals.pending}}
          <div style="{{ styles.item }}">
            <img alt="{{ space.name }}" src="https://cdn.stamp.fyi/space/{{ space.id }}?s=32" style="{{ styles.avatar }}"/>
            {{ space.name }}
            {{#each proposals}}
              <div>
                <div>
                  <a href="{{ link }}" target="_blank">{{ title }}</a>
                </div>
                <div>
                  {{ shortBody }}
                </div>
                {{#if voted}}
                  <div>
                    You participated
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if proposals.active.length}}
      <div style="{{ styles.block }}">
        <div style="{{ styles.h2 }}">
          Active proposals
        </div>
        {{#each proposals.active}}
          <div style="{{ styles.item }}">
            <img alt="{{ space.name }}" src="https://cdn.stamp.fyi/space/{{ space.id }}?s=32" style="{{ styles.avatar }}"/>
            {{ space.name }}
            {{#each proposals}}
              <div>
                <div>
                  <a href="{{ link }}" target="_blank">{{ title }}</a>
                </div>
                <div>
                  {{ shortBody }}
                </div>
                {{#if voted}}
                  <div>
                    You participated
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if proposals.closed.length}}
      <div style="{{ styles.block }}">
        <div style="{{ styles.h2 }}">
          Closed proposals
        </div>
        {{#each proposals.closed}}
          <div style="{{ styles.item }}">
            <img alt="{{ space.name }}" src="https://cdn.stamp.fyi/space/{{ space.id }}?s=32" style="{{ styles.avatar }}"/>
            {{ space.name }}
            {{#each proposals}}
              <div>
                <div>
                  <a href="{{ link }}" target="_blank">{{ title }}</a>
                </div>
                <div>
                  {{ shortBody }}
                </div>
                {{#if voted}}
                  <div>
                    You participated
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}

  </div>
</div>
